In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
from asqp_rl_demo import *
import pandas as pd

# Explanation

ASQP-RL is a novel algorithm to curates subsets of large tabular datasets using Reinforcement Learning. The following is a user study meant to test the quality of the system with user feedback.
In order to test the system you will be presented with a subset and a data exploration task.
We will ask you to try and execute the task and note down your observations

In [14]:
df = pd.read_csv('assets/sample/user_study_part2/flights_asqp_sample.csv')
df

,YEAR_DATE,UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,DEST,DEST_STATE_ABR,DEP_DELAY,TAXI_OUT,TAXI_IN,ARR_DELAY,AIR_TIME,DISTANCE
0,1999,UA,ORD,IL,PVD,RI,-5,15,4,-6,109,849
1,1995,DL,IAH,TX,ATL,GA,6,6,3,20,118,689
2,2007,B6,JFK,NY,ORD,IL,145,63,7,153,118,740
3,2008,UA,LAX,CA,HNL,HI,23,15,5,8,326,2556
4,2013,WN,TPA,FL,BDL,CT,11,9,5,-15,130,1111
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2008,UA,LAX,CA,LAS,NV,10,16,12,5,41,236
996,2010,EV,ATL,GA,PFN,FL,47,13,2,31,40,247
997,1997,UA,BTV,VT,ORD,IL,2,7,15,7,107,763
998,2005,MQ,JFK,NY,BOS,MA,-5,14,4,-8,38,187
999,2011,FL,DTW,MI,MCO,FL,24,20,10,42,134,957

## Exploration Tasks

### 1. Can you compare the different carriers in terms of their arrival delay and departure delay - what can you learn from this?
### 2. Is there a connection between departure delays and arrival delays?
### 3. On average, do longer flights get more or less delayed then shorter flights?