In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from asqp_rl_demo import *
import pandas as pd
import mysql.connector

# Explanation

ASQP-RL is a novel algorithm to curates subsets of large tabular datasets using Reinforcement Learning. The following is a user study meant to test the quality of the system with user feedback.
In order to test the system you will be presented with a subset and a data exploration task.
We will ask you to try and execute the task and note down your observations

## Exploration Task

### 1) Is there a connection between the country of the companies participating in production (i.e. company type equals "production companies") and the amount and length of tv-series the company produces?

### 2) Is there a connection between the country of the companies participating in production (i.e. not distribution) of a movie and the size of it's cast

In [3]:
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="new_imdb2"
    )
    if connection.is_connected():
        print("Connected to MySQL server")
except mysql.connector.Error as e:
    print(f"Error connecting to MySQL server: {e}")
    
# Execute queries
def execute_query(query):
    try:
        cursor = connection.cursor()
        cursor.execute(query)
        results = cursor.fetchall()
        if results:
            df = pd.DataFrame(results, columns=[i[0] for i in cursor.description])
            return df
        else:
            return None
    except mysql.connector.Error as e:
        print(f"Error executing query: {e}")

        
# Example query
res = execute_query("SELECT * FROM title LIMIT 5")
res

Connected to MySQL server

,id,title,imdb_index,kind_id,production_year,imdb_id,phonetic_code,episode_of_id,season_nr,episode_nr,series_years,md5sum
0,1,!Next?,None,2,1994,None,N23,NaN,NaN,NaN,1994-1995,5bf0e2f53291d5e2ca195ccab0a84fef
1,2,#1 Single,None,2,2006,None,S524,NaN,NaN,NaN,2006-????,e424d95c3d5c10fe98eb923a9b05d8da
2,3,Cats and Dogs,None,7,2006,None,C3253,2.0,1.0,4.0,None,d7f3456f4a38f29526130daca17b160d
3,4,Finishing a Chapter,None,7,2006,None,F5252,2.0,1.0,5.0,None,dc87e86961515d65e153dc66ff370a72
4,5,Is the Grass Greener?,None,7,2006,None,I2326,2.0,1.0,1.0,None,b3c333d2703c083194a3a8c7704508d9

In [6]:
# Close the connection
connection.close()